# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\___DEV___\Grav\grav-plugin-translate-date\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
